@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}
  
@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-blue-800 border-blue-800
    hover:bg-transparent hover:text-blue-800 rounded-md
  }
}

body {
  background-color: #FFF;
}
