@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');



/* @font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
} */

:root {
  --soft-green: #44AF58
}

#foo {
  color: var(--soft-green)
}

@layer base {
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-[#3961AB] border-[#3961AB]
    hover:bg-transparent hover:text-[#3961AB] rounded-full
  }

  /* button {
    @apply text-white border soft-green back border-blue-800
    hover:bg-transparent hover:text-blue-800 rounded-md
  } */
}

body {
  background-color: #FFF;
}
